// 	Important paths
$vendors-path:     '../../../.vendors';
$fa-font-path:     '/vendors/font-awesome/fonts';
$fontawesome_path: $fa-font-path;

//	Spacing Addons
$spacer-large:          8rem;
$spacer-section:        $spacer-large 0;
$spacer-section-mobile: ($spacer-large/2) 0;

//	Tweaks
$placeholder-color: #c0c0c0;
$navbar-height:     58px;


//	Transition defaults
$easing: ease-in-out;
$speed:  .3s;
