//
//	Colors
//
$green:      #7dc855;
$turquoise:  #31add3;


//
//	Greys
//
$grey:       #5e6977;
$grey-light: #86939e;
$grey-dark:  #43484d;

//
//	Base Colors
//
$off-white:  #f4f4f4;


//
//	Global / Site-wide
//
$font-size:            18px;
$subtitle-font-weight: 100;
$content-spacing:      40px;


//
// 	Bulma Overrides
//
$body-background:      #e0e0e0;
$text:                 #3f3f3f;

$family-sans-serif:    'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$weight-normal:        100;
$weight-title-normal:  500;
$weight-title-bold:    900;

$nav-height:           64px;

$easing:               ease-in-out;
$speed:                .25s;
