section#landing.hero.is-info.is-fullheight.is-bold
	div.background-overlay.is-overlay

	div.hero-body
		div.container.has-text-centered
			div.logo
				img(src='images/logo.png')

			h2.subtitle.is-3 Simple Static Site Framework (s3f)

	div.landing-footer.hero-foot
		div.container.has-text-centered
			div.button-wrap
				a.button.is-medium.is-outlined.is-dark(href='#' disabled) COMING SOON
