doctype html
html(lang='en')
	head
		block title
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		block components
		link(rel='stylesheet' href='styles/screen.css')
		script(src='scripts/global.js')

	body
		block content
