//- Vendor CSS Placed in HEAD


//- End Vendor CSS


//-
	---------------------------------------------------------
	=========================================================
	---------------------------------------------------------
//-


//- Vendor Scripts Placed in HEAD

script(src='/vendors/jquery/dist/jquery.js')
script(src='/vendors/tether/dist/js/tether.js')
script(src='/vendors/bootstrap/dist/js/bootstrap.js')

//- End Vendor Scripts
