extends ../_layouts/index

block pageComponents
	//-	Must be relative to this file
	script(src='/vendors/require1k/require1k.js' data-main='./../scripts/index')

block title
	title Contact Us -- Affectly - The Science of Good Deeds

block content

	include ../_partials/about
